.phrase {
  display: inline-flex;
}

.phrase::before {
  content: '';
  animation-name: text-animation;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

@keyframes text-animation {
  0% {
    content: 'qualquer coisa';
  }
  20% {
    content: 'programação';
  }
  40% {
    content: 'marketing';
  }
  60% {
    content: 'história';
  }
  80% {
    content: 'design';
  }
  100% {
    content: 'finanças';
  }
}
