.phrase {
  display: inline-flex;
}

.phrase::before {
  content: '';
  animation-name: text-animation;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  -webkit-animation-name: text-animation;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
}

@keyframes text-animation {
  0% {
    content: 'qualquer coisa';
  }
  20% {
    content: 'história';
  }
  40% {
    content: 'português';
  }
  60% {
    content: 'matemática';
  }
  80% {
    content: 'economia doméstica';
  }
  100% {
    content: 'programação';
  }
}

@-webkit-keyframes text-animation {
  0% {
    content: 'qualquer coisa';
  }
  20% {
    content: 'história';
  }
  40% {
    content: 'português';
  }
  60% {
    content: 'matemática';
  }
  80% {
    content: 'economia doméstica';
  }
  100% {
    content: 'programação';
  }
}
